.poll-result-bars {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
.popover {
  max-width: 600px;
}
.pie-chart--tool-tip {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 1rem;
  opacity: 0;
  transition: opacity .5s;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
}
.pie-chart--tool-tip.active {
  opacity: 1;
}
