footer {
  height: 50px;
  margin-top: -50px;
  hr {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  i {
    vertical-align: middle;
  }
  p {
    font-size: 1.8rem;
  }
  small {
    font-size: 14px;
  }
}
